* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: "Source Serif 4", serif;
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  padding: 1.6rem;
  color: #a54328;
}

main {
  max-width: 32rem;
  margin-inline: auto;
  padding: 5.6rem 4rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

img {
  width: 100%;
  margin-block: 3.2rem;
}

h1 {
  font-weight: 700;
  font-size: 3.8rem;
}

p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.ingredients h1 {
  padding: 34px 0 24px 0;
}

.ingredients li {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 2.5rem;
  line-height: 1.8rem;
}

strong {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.ingredients ol {
  padding-top: 34px;
}

button {
  background-color: #a54328;
  color: #fff;
  border: 0;
  padding: 0.8rem 1.2rem;
  border-radius: 6px;
  font-family: "Source Serif 4", serif;
  font-size: 1rem;
  margin-top: 18px;
}

@media (min-width: 1120px) {
  main {
    flex-direction: row;
    max-width: fit-content;
    gap: 16rem;
  }
  .recipe {
    max-width: 43.5rem;
  }
  .ingredients {
    max-width: 52.5rem;
  }
  .ingredients h1 {
    padding: 0;
  }
  h1 {
    font-size: 8rem;
    line-height: 7rem;
  }
  .ingredients h1 {
    padding-bottom: 8rem;
  }
  p {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  .ingredients li {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  strong {
    font-size: 2.2rem;
    line-height: 3rem;
  }
  button {
    font-size: 1.4rem;
  }
  body {
    background-image: url("./assets/bg.png");
  }
}
